@import "tailwindcss";

@theme {
  --color-primary: #EA580C;
  --color-background-light: #F8FAFC;
  --color-background-dark: #0B1120;
  --color-surface-dark: #161E2E;
  --color-surface-light: #FFFFFF;
  
  --font-display: var(--font-oswald), sans-serif;
  --font-body: var(--font-merriweather), serif;

  --animate-fade-in: fade-in 0.5s ease-out;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  /* Default to Dark Mode values for "Corporate Soul" feel */
  --background: #0B1120;
  --foreground: #f1f5f9;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
